.popup{
    width: 250px;
    height: 300px;
    background-color: black;
     position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 20px;
   color: white;
   justify-content: end;
   flex-direction: column;
   display: none;

}
.popup__btn{
    width: 90%;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
    cursor: pointer;

}
.popup__content p{
    margin-inline:8px ;
   margin-inline-start: 20px;
}
.popup__content{
justify-self: b;
}
.active.popup{
    display: flex;
}
.popup__close{
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
}
/* .popup img{
    width: 30px;
    z-index: 2;
    background-color: black;
    border-radius: 20px;

} */
